@import "tailwindcss";

.section {
  background-color: #f2f0e9;
}

.border-design {
  border-radius: 50%;
}

.fade-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-element.visible {
  opacity: 1;
  transform: translateY(0);
}
